<div class="contract-form">
    <h2>Add new contract</h2>
    <form id="submitContract">
        <label for="cname">Contract name:</label>
        <input type="text" name="contractname" id="cname" placeholder="enter contract name">

        <label for="cdescription">Description:</label>
        <input type="text" name="contractdescription" id="cdescription" placeholder="enter description">

        <label for="cprice">Cost:</label>
        <input type="text" name="contractcost" id="ccost" placeholder="estimated cost">


       <button class="submit-btn" id="submit"></button> 
    </form>
</div>
<script src="/js/add-contract.js"></script>