<div class="project-form" id="projectForm">
    <h2>Add new project</h2>
    <form id="submitProject">
        <label for="pname">Project name:</label>
        <input type="text" name="projectname" id="pname" placeholder="enter project name">

        <label for="pdeadline">Project deadline:</label>
        <input type="text" name="projectdeadline" id="pdeadline" placeholder="enter project deadline">

        <label for="pdescription">Description:</label>
        <input type="text" name="projectdescription" id="pdescription" placeholder="enter description">


       <button class="submit-btn" id="submit"></button> 
    </form>

</div>
<div class="new-contract" id="contractForm">
    <h3>Click below to attach contracts to your project</h3>
    <section id="contractBox"></section>
    <button class="contract-btn" id="addContract"></button> 
     <form class="hidden" id="submitContract">
        <label for="cname">Contract name:</label>
        <input type="text" name="contractname" id="cname" placeholder="enter contract name">

        <label for="cdescription">Description:</label>
        <input type="text" name="contractdescription" id="cdescription" placeholder="enter description">

        <label for="cprice">Cost:</label>
        <input type="text" name="contractcost" id="ccost" placeholder="estimated cost">

        
       <button class="submit-btn" id="submit"></button> 
    </form>

</div>

