<header>
    <h1>Development Tracker</h1>
        {{!-- <nav>
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="button">Dropdown button <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none"
                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg></button>
            
            <div id="dropdown"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="./home.handlebars"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Home</a>
                    </li>
                    <li>
                        <a href="./login-signup.handlebars"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Signin/Signup</a>
                    </li>
                    <li>
                        <a href="./add-project.handlebars"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Create a project</a>
                    </li>
                    <li>
                        <a href="./profile.handlebars"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View projects</a>
                    </li>
                </ul>
            </div>
        </nav> --}}
</header>

    {{!-- <script type="text/x-handlebars-template"></script> --}}
    
<body>
    <div id="cloudinary">
        image carousel {{{body}}}
    </div>

   <div id="format">
     <div id="about">
        <h2>About Development Tracker</h2>

    <p>The purpose of this development tracker is to create and manage building projects and their associated contracts for builders' use.</p>

    {{!-- var template = Handlebars.compile(developmentInfo);

    var data = template({});
    
    <script type="text/x-handlebars-template"></script> --}}
    </div>
 
    <div id="dev-team">    
        <h2>Our Team:</h2>
        <p>Tyler Vu</p>
        <p>Andrew Kim</p>
        <p>Nhan Duong</p>
        <p>Connor Mclaughlin</p>
        <p>Our goal of this project is to provide a clean and easy to use interface for project creation and management. This project allows us to practice a fullstack array of skills for both the front-end and the back-end of the application.
        </p>

        {{!-- var template = Handlebars.compile(teamInfo);

        var data = template({}); --}}
    </div>
   </div>
</body>