<header>
    <div id="title">
            <h1>Development Tracker</h1>
    </div>
</header>

    {{!-- <script type="text/x-handlebars-template"></script> --}}
    
<body>
    <div id="cloudinary">
        {{{body}}}
    </div>

   <div id="format">
     <div id="about">
        <h2>About Development Tracker</h2>

    <p>The purpose of this development tracker is to create and manage building projects and their associated contracts for builders' use. A project name, description, and deadline can be created along with a name, description, and estimated cost of any associated contracts. These are then stored on the user's profile for future viewing and use.</p>

    {{!-- var template = Handlebars.compile(developmentInfo);

    var data = template({});
    
    <script type="text/x-handlebars-template"></script> --}}
    </div>
 
    <div id="dev-team">    
        <h2>Our Team:</h2>
        <p>Tyler Vu</p>
        <p>Andrew Kim</p>
        <p>Nhan Duong</p>
        <p>Connor Mclaughlin</p>
        <p>Our goal of this project is to provide a clean and easy to use interface for project creation and management. This project allows us to practice a fullstack array of skills for both the front-end and the back-end of the application.
        </p>

        {{!-- var template = Handlebars.compile(teamInfo);

        var data = template({}); --}}
    </div>
   </div>
</body>