{{!-- <h1>Login Here!</h1>
<form id="loginForm" class="authForm">
    <input class="loginInfo" type="text" placeholder="email" id="loginEmail">
    <input class="loginInfo" type="password" placeholder="password" id="loginPassword">
    <button>Login</button>
</form>
<h1>Sign up Here!</h1>
<form id="signupForm" class="authForm">
    <input class="signupInfo" type="text" placeholder="name" id="signupName">
    <input class="signupInfo" type="text" placeholder="email" id="signupEmail">
    <input class="signupInfo" type="password" placeholder="password" id="signupPassword">
    <button>Signup</button>
</form> --}}
<div>
    <h2>Login here!</h2>
    <form id="loginForm" class="authForm" action="/action_page.php">
        <input class="loginInfo" type="text" name="name" placeholder="Email.." id="loginEmail">
        <input class="loginInfo" type="text" name="password" placeholder="Password.." id="loginPassword">
        <button>Login</button>
    </form>
</div>

<div>
    <h2>Signup here!</h2>
    <form id="signupForm" class="authForm" action="/action_page.php">
        <input class="signupInfo" type="text" name="name" placeholder="Name.." id="signupName">
        <input class="signupInfo" type="text" name="email" placeholder="Email.." id="signupEmail">
        <input class="signupInfo" type="text" name="password" placeholder="Password.." id="signupPassword">
        <button>Signup</button>
    </form>
</div>


<script src="/js/login.js"></script>
<script src="/js/signup.js"></script> 