<h1>Login Here!</h1>
<form id="loginForm" class="authForm">
    <input type="text" placeholder="email" id="loginEmail">
    <input type="password"id="loginPassword">
    <button>Login</button>
</form>
<h1>Sign up Here!</h1>
<form id="signupForm" class="authForm">
    <input type="text" placeholder="email" id="signupEmail">
    <input type="password"id="signupPassword">
    <button>Signup</button>
</form>

<a href="/">Home</a>
        {{#if isLoggedIn}}
            <a href="/project">project</a>
            <button id="logoutBtn">Log me out</button>
            <script src="js"></script>
        {{else}}
            <a href="/login">login</a>
            <a href="/signup">signup</a>
        {{/if}}

        {{#if isLoggedOut}}
            <a href="/project">project</a>
            <button id="loginBtn">Log me in</button>
            <script src="/js/"></script>
        {{else}}
            <a href="/logout">logout</a>
            <a href="/signup">signup</a>
        {{/if}}

        {{#if isSignedup}}
            <a href="/project">project</a>
            <button id="registerBtn">Register</button>
            <script src="js"></script>
        {{else}}
            <a href="login">login</a>
            <a href="logout">logout</a>
        {{/if}}

<script src="/js/login.js"></script>