<h1>Login Here!</h1>
<form id="loginForm" class="authForm">
    <input type="text" placeholder="email" id="loginEmail">
    <input type="password"id="loginPassword">
    <button>Login</button>
</form>
<h1>Sign up Here!</h1>
<form id="signupForm" class="authForm">
    <input type="text" placeholder="email" id="signupEmail">
    <input type="password"id="signupPassword">
    <button>Signup</button>
</form>


<script src="/js/login.js"></script>