{{!-- This is profile homepage--}}
{{#if isMyProfile}}
<h1>Welcome back, {{name}}!</h1>
{{!--will display the projects created by the user--}}
<h2>my projects</h2>
{{#each Projects}}
    <section class="project-box">
{{!-- add a button to create new project--}}
</section>
{{/each}}
<h2>Add a project</h2>
<button>Add new</button>

<script src="/js/profile.js"></script>