<h1>Sign in</h1>
<form id="signinForm">
    <input type="text" placeholder="email" id="signinEmail">
    <input type="password" id="signinPassword">
    <button>Signin</button>
</form>

<script src="/js/signin.js"></script>

<h1>Sign up</h1>
<form id="signupForm">
    <input type="text" placeholder="email" id="signupEmail">
    <input type="password" id="signupPassword">
    <textarea placeholder="Sign up here..." id="signupBio"
    <button>Signup</button>
</form>

<a href="/">Home</a>
        {{#if isSignedIn}}
            <a href="/project">project</a>
            <button id="signoutBtn">Sign me out</button>
            <script src="/js/signout.js"></script>
        {{else}}
            <a href="/signin">signin</a>
            <a href="/signup">signup</a>
        {{/if}}