
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap");
* {
  font-family: "Saira Semi Condensed", sans-serif;
  transition: all 0.5s ease; 
  background: #dfdfdf;
}

.hide {
    display: none;
}

form {
    position: relative;
    text-align: center;
    
}
.new-project-page {
    text-align: center;
    /* height: 50vh; */
}
/* profile page */
/* top of profile */
.profile-top{
    height: 15vh;
    width: 100vw;
    padding: 5px;
    border-bottom: 5px solid black;

}
.welcome {
    float: left;
}
.profile-add-project {
    height: 25px;
    margin-left: 35vw;
    text-align: center;
    padding-top: 20px;
    
}
.my-projects{
    height: 5vh;
    text-align: center;
    font-size: larger;
}
/* project box */

.display-projects {
    background: rgba(255, 255, 255, 0.5);
    height: 500px;
    /* border: 2px solid black; */
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 8px 6px -6px #555;
}
.projects-box {
    width: 30%;
    float: left;
    margin: 5px;
    background: rgba(255, 255, 255, 0.5);

}
.projects-info {
    height: 50%;
    border: 3px solid black;
    border-radius: 5px;
    overflow: auto;
    margin: 3px;
    overflow-y: auto;
    overflow-wrap: break-word;
    padding: 3px;
    max-height: 221.78px;
}
#cloudinary-img{
    display: block;
    max-width:380px;
    max-height:240px;
    width: auto;
    height: auto;
    margin: 3px;
    margin-top: 10px;
    background: none;
}
.cloudinary-img{
    background: rgba(255, 255, 255, 0.5);

    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    height:221.78px;
    object-fit: cover; */
}
.shown-contracts {
    overflow: auto;
    height: 350px;
    width: 60%;
    float: right; 
    align-items: center;
    border: 2px solid black;
    margin-top: 90px;
    margin-right: 50px;

}
.profile-contracts{
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 30px;
    margin-left: 10px;
   
}
.contract-box{
    border: 2px solid black;
    width: 200px;
    margin-right: 10px;
    padding: 2px;
    flex: 0 0 auto;
    overflow-x: auto;
    overflow-wrap: break-word;
}
