
.hide {
    display: none;
}
/* .addProjectsTitle {
    text-align: center;
} */
form {
    position: relative;
    text-align: center;
    
}
.new-project-page {
    text-align: center;
    /* height: 50vh; */
}
/* profile page */
/* top of profile */
.profile-top{
    height: 15vh;
    width: 100vw;
    padding: 5px;
    border-bottom: 5px solid black;

}
.welcome {
    float: left;
}
.profile-add-project {
    height: 25px;
    margin-left: 35vw;
    text-align: center;
    padding-top: 20px;
    
}
.my-projects{
    height: 5vh;
    text-align: center;
    font-size: larger;
}
/* project box */

.display-projects {
    background-color: bisque;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
.projects-box {
    width: 30%;
    float: left;
    margin: 5px;

}
.projects-info {
    height: 50%;
    border: 1px solid black;
    overflow: auto;
    margin: 3px;
}
.cloudinary-img{
    margin: 3px;
    height: 50%;
}
.shown-contracts {
    overflow: auto;
    height: 275px;
    width: 60%;
    float: right; 
    align-items: center;
    border: 2px solid black;
    margin-top: 112.5px;
    margin-right: 50px;

}
.profile-contracts{
    height: 250px;
    display: flex;
    flex-direction: row;
    margin: 10px; ;
}
.contract-box{
    border: 2px solid black;
    width: 150px;
    margin-right: 10px;
    padding: 2px;
    



}

/* .authForm {
    align-content: center;
    margin: auto;
    text-align: center;
    width: 220px;
    border: 10px solid seagreen;
    margin: 20px;
}
.loginInfo {
    width: 150px;
    text-align: center;
    margin: auto;
    display: block;
    outline-style: solid; 
    outline-color: blueviolet;
}
.signupInfo {
    width: 150px;
    text-align: center;
    margin: auto;
    display: block;
    outline-style: dashed;
    outline-color: blueviolet;
} */ 
/* 
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  outline-style: solid;
  outline-color: rgb(11, 11, 11);
  border: 5px solid rgb(130, 29, 29);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #14a254;
  padding: 20px;
}

h2 {
    text-align: center;
} */


